node-red-flow.json
[
    {
        "id": "2500f540ef820631",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24815a7bd841dc8c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mongodb": "0.2.5"
        }
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "CampusBroker",
        "broker": "mqtt://automaatio:Z0od2PZF65jbtcXu@automaatio.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6a1a07f561f841c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ee89d8c92fed63c0",
        "type": "mongodb",
        "hostname": "cluster0.stskmy5.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": 27017,
        "db": "data_ml",
        "name": "Atlas DB"
    },
    {
        "id": "2b5921ba2464e724",
        "type": "ui_tab",
        "name": "Koti",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b29c813c592b53e4",
        "type": "ui_group",
        "name": "Mittarit",
        "tab": "2b5921ba2464e724",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7280521e9ba866e4",
        "type": "ui_group",
        "name": "Kampus Monitori",
        "tab": "8df72da18b85509e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8df72da18b85509e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "fbed3860f21e17a6",
        "type": "debug",
        "z": "2500f540ef820631",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2560d1682ee601ee",
        "type": "mqtt in",
        "z": "2500f540ef820631",
        "name": "AIoT MQTT Reciever",
        "topic": "automaatio/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 860,
        "wires": [
            [
                "fbed3860f21e17a6",
                "42c215c6a4a677dd"
            ]
        ]
    },
    {
        "id": "42c215c6a4a677dd",
        "type": "function",
        "z": "2500f540ef820631",
        "name": "Format Data",
        "func": "// 1. Luodaan uusi tyhjä objekti\nvar standardData = {};\n\n// 2. Lisätään kaikki halutut tiedot tämän objektin sisälle\nstandardData.device = msg.payload.id;\nstandardData.people = Number(msg.payload.pCount || msg.payload[\"person count\"] || 0);\n\n// TÄMÄ ON SE RATKAISEVA RIVI:\nstandardData.timestamp = new Date().toISOString();\n\n// 3. Korvataan koko msg.payload tällä uudella objektilla\nmsg.payload = standardData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "b9b9010373eb16ca",
                "430a83820ba9693b",
                "c6f3166c756d7709"
            ]
        ]
    },
    {
        "id": "b9b9010373eb16ca",
        "type": "debug",
        "z": "2500f540ef820631",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "430a83820ba9693b",
        "type": "mongodb out",
        "z": "2500f540ef820631",
        "mongodb": "ee89d8c92fed63c0",
        "name": "MongoDB Atlas",
        "collection": "p_count_2",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "9212fbfbeea284a2",
        "type": "ui_chart",
        "z": "2500f540ef820631",
        "name": "People Count",
        "group": "b29c813c592b53e4",
        "order": 2,
        "width": "20",
        "height": "20",
        "label": "Visitors",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "8d6f124244dcfcbc"
            ]
        ]
    },
    {
        "id": "8d6f124244dcfcbc",
        "type": "debug",
        "z": "2500f540ef820631",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 780,
        "wires": []
    },
    {
        "id": "c6f3166c756d7709",
        "type": "function",
        "z": "2500f540ef820631",
        "name": "Chart Format",
        "func": "// Poimitaan vain numeroarvo (people) kuvaajalle\nmsg.payload = Number(msg.payload.people);\n\n// Palautetaan viesti, jossa säilyy aiemmin asetettu msg.topic\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 780,
        "wires": [
            [
                "9212fbfbeea284a2"
            ]
        ]
    },
    {
        "id": "2d09840afd5e2d89",
        "type": "inject",
        "z": "2500f540ef820631",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 750,
        "y": 560,
        "wires": [
            [
                "9212fbfbeea284a2"
            ]
        ]
    },
    {
        "id": "dfc83feb8ee709d7",
        "type": "inject",
        "z": "2500f540ef820631",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "object",
        "payloadType": "date",
        "x": 720,
        "y": 700,
        "wires": [
            [
                "430a83820ba9693b"
            ]
        ]
    }
]
